<template>
    <div class="container" style="margin-top:5%">
        <div class="row justify-content-center">
            <div class="col-lg-3">
                <router-link :to="{ path: 'materials' }"><button @click="page=1" :class="page==1?'btn-active':'btn-disactive'">Материалы</button></router-link>
            </div>
            <div class="col-lg-3">
                <router-link :to="{path:'categories'}"><button @click="page=2" :class="page==2?'btn-active':'btn-disactive'">Виды деятельности</button></router-link>
            </div>
            <div class="col-lg-3">
                <router-link :to="{path:'new-material'}"><button @click="page=3" :class="page==3?'btn-active':'btn-disactive'">Добавить материал</button></router-link>
            </div>
            <div class="col-lg-3">
                <router-link :to="{path:'new-category'}"><button @click="page=4" :class="page==4?'btn-active':'btn-disactive'">Добавить вид деятельности</button></router-link>
            </div>
        </div>
        <router-view class="mt-3"></router-view>
    </div>
</template>
<script>
export default {
    data(){
        return {
            page:1
        }
    }
}
</script>
<style>
.mt-3{
    margin-top:4% !important
}
@font-face {
  font-family: myFirstFont;
  src: url('../assets/FontsFree-Net-SFProDisplay-Regular.ttf');
}
.btn-active{
    border-radius:5px;
    border: none;
    padding:5px 15px;
    color: #fff !important;
    background: #ef595a;
    font-family:myFirstFont;
    cursor:pointer;
}

.btn-disactive{
    border-radius:5px;
    cursor:pointer;
    border: 1px solid black;
    padding:5px 15px;
    color: black !important;
    background: white;
    font-family:myFirstFont;
}
</style>