<template>
<div class="conainer-fluid">
<header-wws></header-wws>
<router-view></router-view>
</div>
</template>
<script>
import Header from './header'
export default{
    data(){
        return{
            user:''
        }
    },

    components:{
        'header-wws':Header
    }
}
</script>
<style>
html,body{
    height: 100%;
    overflow-x:hidden 
}
</style>
