<template>
  <div class="container">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Вид деятельности</th>
      <th scope="col">Действия</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="(ct,index) in categories" :key="index">
      <th scope="row">{{index+1}}</th>
      <td>{{ct.name}}</td>
      <td>
          <div style="display:flex;flex-direction:row">
              <i class="far fa-edit" style="cursor:pointer" @click="editCategory(ct)"></i>
              <i class="fas fa-trash" style="margin-left:15px;cursor:pointer" @click="deleteCategory(ct)"></i>
          </div>
      </td>
      
    </tr>
    
  </tbody>
</table>
    
  </div>
</template>

<script>
const Swal = require('sweetalert2')
import axios from "axios";
import Edit from './editCategory'
import EventBus from './bus';
export default {
  data() {
    return {
      categories: []
    };
  },
  methods: {
    editCategory(ct){
      this.$modal.show(Edit,{
        category:ct
      },{
        width:"50%",
        height:"auto"
      },
      {
  'before-close': (event) => { this.getCategories() }
})
    },
    deleteCategory(ct){
      const token = localStorage.getItem("token");
      this.$http.delete("/api/category/"+ct.id,{
                        headers: 
                        {
                            'X-Requested-With': 'XMLHttpRequest',
                            'Authorization': 'Bearer '+token
                        }
                    }).then(
            response=>{
                if(response.body.success){
                               Swal.fire({
                                position: 'center',
                                type: 'success',
                                title: 'Вид деятедьности удалено',
                                showConfirmButton: false,
                                timer: 1500
                                })
                                this.getCategories()
                            }
            }
        )
    },
    getCategories() {
      const token = localStorage.getItem("token");
      axios
        .get("/api/category?token=" + token)
        .then(response => {
          this.categories = response.data.category;
        })
        .catch(error => {
          if (error.response.data.error == "Token expired") {
            this.$auth.destroyToken();
            EventBus.$emit("logged_in", this.logged_in);
            this.$router.push({ path: "/" });
          }
        });
    }
  },
  created() {
    this.getCategories();
  }
  /*
        data() {
            return {
                editing: false,
                editValue: this.qt.content
            }
        },
        methods: {
            onEdit() {
                this.editing = true;
                this.editValue = this.qt.content
            },
            onCancel() {
                this.editing = false;
            },
            onDelete() {
                const token=localStorage.getItem('token');
                this.$emit('quoteDeleted', this.qt.id);
                axios.delete('http://localhost:8000/api/quote/' + this.qt.id+'?token='+token )
                    .then(
                        response => console.log(response)
                    )
                    .catch(
                        error => console.log(error)
                    )
            },
            onUpdate() {
                const token=localStorage.getItem('token');
                this.editing = false;
                this.qt.content = this.editValue;
                axios.put('http://localhost:8000/api/quote/' + this.qt.id+'?token='+token,
                    {content: this.editValue})
                    .then(
                        response => console.log(response)
                    )
                    .catch(
                        error => console.log(error)
                    );
            }
        }
        */
};
</script>

<style scoped>
a {
  cursor: pointer;
}
</style>