<template>
<div class="container-fluid">
<div style="position:absolute;right:10px;top:5px"><i class="fas fa-times" @click="$emit('close')"></i></div>
<div class="row justify-content-center" style="padding:50px">
    <div class="col-lg-8">
        
        <div class="form-group">
           <input type="text" v-model="product.editName" class="form-control" style="color:black"/> 
        </div>
        <div class="form-group" style="text-align:center">
           <button class="btn btn-primary" type="submit" @click.prevent="submit">Сохранить</button> 
        </div>
    </div>
</div>
</div>
</template>
<script>
const Swal = require('sweetalert2')
import axios from "axios";
export default{
    props:['category'],
    data(){
        return{
            product:
            {
                editName:this.category.name
            }
            
        }
    },
    methods:{
        submit(){
          
            const token=localStorage.getItem('token');
            axios.put('/api/category/' + this.category.id,
                {content: this.product},
                {
                        headers: 
                        {
                            'X-Requested-With': 'XMLHttpRequest',
                            'Authorization': 'Bearer '+token
                        }
                    })
                .then(
                    response => {
                           console.log(response)
                            if(response.data.success){
                               Swal.fire({
                                position: 'center',
                                type: 'success',
                                title: 'Вид деятельности изменен',
                                showConfirmButton: false,
                                timer: 1500
                                })
                            }
                            this.$emit('close')
                    }
                )
                .catch(
                    error => console.log(error)
                );
        }
    }

}
</script>