<template>
<div class="container-fluid" style="background-color:#37353d">
  <div style="display:flex;flex-direction:row;"  class="justify-content-end">
    
    
        <p style="margin-right:15px;color:white;margin-top: 0px; margin-bottom:0px;font-size:15px;">+77010711710</p>
        
        <p style="margin-right:15px;color:white;margin-top: 0px; margin-bottom:0px;font-size:15px">miqrotop@gmail.com</p>
  
    
   
  </div>
  <hr style="background:white;border: 0;border-top: 1px solid rgba(0,0,0,.1);margin-top:0px;margin-bottom:0px">
  <div class="row justify-content-center" style="padding:5px">
     
     <div style="padding:0.3rem"><span style="color:#fff;font-size:11px">Лучший выбор вашим предпочтениям</span>
     </div>
     
    <div class="col-lg-1 col-sm-2 justify-content-center" style="text-align:center">
    <router-link :to="{path:'/'}">
      <a
        id="miqro"
        class="navbar-brand"
        href="javascript:void(0)"
        style="background-color:#fff;padding:5px;font-family:myFirstFont;border-radius:5px;cursor:pointer"
      >
      <span style="color:#ef595a;font-weight:600">M</span>
      <span style="color:white; text-shadow: -1px 0 #ef595a, 0 1px #ef595a, 1px 0 #ef595a, 0 -1px #ef595a;font-weight:600">i</span>
      <span style="color:white; text-shadow: -1px 0 #ef595a, 0 1px #ef595a, 1px 0 #ef595a, 0 -1px #ef595a;font-weight:600">Q</span>
      <span style="color:white; text-shadow: -1px 0 #ef595a, 0 1px #ef595a, 1px 0 #ef595a, 0 -1px #ef595a;font-weight:600">R</span>
      <span style="color:white; text-shadow: -1px 0 #ef595a, 0 1px #ef595a, 1px 0 #ef595a, 0 -1px #ef595a;font-weight:600">O</span>
      <span style="color:#ef595a;font-weight:600">T</span>
      <span style="color:#ef595a;font-weight:600">O</span>
      <span style="color:#ef595a;font-weight:600">P</span>

      </a>
    </router-link>
  <!--<div style="display:flex;flex-direction:row"><p style="margin-bottom:0rem;color:#fff;font-size:13px">Лучший выбор вашим предпочтениям   </p><p style="margin-bottom:0rem;color:#fff;font-size:13px;margin-left:20px">   Best choice to your preferences</p></div>--->
  </div>
 
  <div style="padding:0.3rem">
    <span style="color:#fff;font-size:11px">Best choice to your preferences</span>
    </div>
   
  </div>
  <hr style="background:white;border: 0;border-top: 1px solid rgba(0,0,0,.1);margin-top:0px;margin-bottom:0px">
  <div class="row" style="padding:5px">

    <div class="col-lg-12 justify-content-center col-sm-12" style="padding: 0.4em;">

      <div class="row justify-content-center" style="width:100%">
        <div class="col justify-content-center"  style="text-align:center">
         <router-link :to="{path:'/'}">
            <a
              href="javascript:void(0)"
             
              style="font-family:myFirstFont;color:#fff;font-size:15px"
            >
             Главная
            </a>
         </router-link>
        </div>
        
        <div class="col justify-content-center"  style="text-align:center">
        
            <a
              href="#uslug"
             
              style="font-family:myFirstFont;color:#fff;font-size:15px"
            >
             Наши услуги
            </a>
         
        </div>
          <div class="col  justify-content-center"  style="text-align:center">
        
            <a
              href="javascript:void(0)"
             
              style="font-family:myFirstFont;color:#fff;font-size:15px"
            >
             Наши партнеры
            </a>
         
        </div>
          <div class="col justify-content-center" style="text-align:center">
            <a
              href="#zav"
          
              style="font-family:myFirstFont;color:#fff;font-size:15px"
            >
             Оставить заявку
            </a>
         
        </div>
        <div class="col justify-content-center" v-if="!logged" style="text-align:center">
          <router-link :to="{name:'login'}">
            <a
              href="javascript:void(0)"
             
              style="font-family:myFirstFont;color:#fff;font-size:15px"
            >
              <i class="fas fa-sign-in-alt"></i> Логин
            </a>
          </router-link>
        </div>
        <div class="col-lg-1 col-sm-1" v-if="logged" style="text-align:center">
          <router-link :to="{name:'materials'}">
            <a
              href="javascript:void(0)"
          
              style="font-family:myFirstFont;color:#fff;font-size:15px"
            >Админка</a>
          </router-link>
        </div>
        <div class="col-lg-1 col-sm-1" v-if="logged" style="text-align:center">
          <a
            href="javascript:void(0)"
          
            style="font-family:myFirstFont;color:#fff;font-size:15px"
            @click="exit"
          >
            <span class="glyphicon glyphicon-log-in"></span> Выйти
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
</template>
<script>
import EventBus from "./bus";
export default {
  data() {
    return {
      user: "",
      logged: false
    };
  },
  created() {
    
    this.setup();
    EventBus.$on("logged_in", logged => {
      this.setup();
    });
    
  },
  methods: {
    exit() {
      this.$auth.destroyToken();
      this.$router.push({ path: "/" });
      this.setup();
    },
    setup() {
      if (this.$auth.isAuthenticated()) {
        this.logged = true;
      } else {
        this.logged = false;
      }
    }
  }
};
</script>
<style scoped>
.col-sm-3{
position: relative;
     width:auto; 
    padding-right: 15px;
    padding-left: 15px;
}
.container-fluid {
    width: 100%;
     padding-right: 0px; 
     padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.nav-link {
  border-bottom: 1px solid transparent;
}
.nav-link:hover {
  border-bottom: 1px solid #ef595a;
}
@font-face {
  font-family: myFirstFont;
  src: url("../assets/FontsFree-Net-SFProDisplay-Regular.ttf");
}
.navbar-inverse {
  background-color: #f8f9fa !important;
  border-color: #080808;
}
.navbar-inverse .navbar-nav > .active > a {
  background-color: #f8f9fa !important;
  color: #9d9d9d;
}
a:hover {
  border: none;
  text-decoration: none;
}
.navbar-brand {
    display: inline-block;
    padding-top: .3rem;
    padding-bottom: .3rem;
    margin-right: 1rem;
    font-size: 1.15rem;
    line-height: inherit;
    white-space: nowrap;
}

</style>