<template>
  <div class="container" style="text-align:center">
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-ride="carousel"
      data-interval="3000"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="../assets/1.png" alt="First slide" style="height:400px" />
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/2.png" alt="First slide" style="height:400px" />
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/3.png" alt="First slide" style="height:400px" />
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/4.jpg" alt="First slide" style="height:400px" />
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/5.jpg" alt="First slide" style="height:400px" />
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/6.jpg" alt="First slide" style="height:400px" />
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/7.jpg" alt="First slide" style="height:400px" />
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/8.jpg" alt="First slide" style="height:400px" />
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/9.jpg" alt="First slide" style="height:400px" />
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/10.jpg" alt="First slide" style="height:400px" />
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/11.jpg" alt="First slide" style="height:400px" />
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/12.jpg" alt="First slide" style="height:400px" />
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/13.jpg" alt="First slide" style="height:400px" />
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/14.jpg" alt="First slide" style="height:400px" />
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/15.jpg" alt="First slide" style="height:400px" />
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/16.jpg" alt="First slide" style="height:400px" />
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/17.jpg" alt="First slide" style="height:400px" />
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/18.jpg" alt="First slide" style="height:400px" />
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/19.jpg" alt="First slide" style="height:400px" />
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/20.jpeg" alt="First slide" style="height:400px" />
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/21.jpg" alt="First slide" style="height:400px" />
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/22.jpg" alt="First slide" style="height:400px" />
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/23.jpg" alt="First slide" style="height:400px" />
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/24.jpg" alt="First slide" style="height:400px" />
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/25.jpg" alt="First slide" style="height:400px" />
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/26.jpg" alt="First slide" style="height:400px" />
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/27.jpg" alt="First slide" style="height:400px" />
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/28.jpg" alt="First slide" style="height:400px" />
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/29.jpg" alt="First slide" style="height:400px" />
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/30.jpg" alt="First slide" style="height:400px" />
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/31.jpg" alt="First slide" style="height:400px" />
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/32.jpg" alt="First slide" style="height:400px" />
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/33.jpg" alt="First slide" style="height:400px" />
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/34.jpeg" alt="First slide" style="height:400px" />
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/35.jpeg" alt="First slide" style="height:400px" />
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/36.jpeg" alt="First slide" style="height:400px" />
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/37.jpeg" alt="First slide" style="height:400px" />
        </div>
        
        
        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/38.jpeg" alt="First slide" style="height:400px" />
        </div>
        
        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/39.jpeg" alt="First slide" style="height:400px" />
        </div>
        
        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/40.jpeg" alt="First slide" style="height:400px" />
        </div>
        
        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/41.jpeg" alt="First slide" style="height:400px" />
        </div>
        
        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/42.jpeg" alt="First slide" style="height:400px" />
        </div>
        
        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/43.jpeg" alt="First slide" style="height:400px" />
        </div>
        
        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/44.jpeg" alt="First slide" style="height:400px" />
        </div>
        
        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/45.jpeg" alt="First slide" style="height:400px" />
        </div>
        
        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/46.jpeg" alt="First slide" style="height:400px" />
        </div>
        
        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/47.jpeg" alt="First slide" style="height:400px" />
        </div>
        
        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/48.jpeg" alt="First slide" style="height:400px" />
        </div>
        
        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/49.jpeg" alt="First slide" style="height:400px" />
        </div>
        
        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/50.jpeg" alt="First slide" style="height:400px" />
        </div>
        
        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/51.jpeg" alt="First slide" style="height:400px" />
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleIndicators"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleIndicators"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12" style="background-color:rgb(240, 241, 245);padding:10px">
          <p
            style="font-size:14px;color:#212529;font-weight:500"
            id="text"
          >ХХl Век - век развитых технологии и постоянной инновационных решении в разных отраслях экономики. Наша компания ориентирована на инновационные проекты с минимальными затратами чтобы достичь хороших качеств в секторе строительства...Мы стараемся удовлетворить потребности как субъекта так и общества в целом. И поэтому микротоп ваш партнёр и друг в следующих видах услуг...</p>
        </div>
      </div>
    </div>
    <div class="container" id="uslug">
      <div class="row" style="margin-top:1.5%">
        <div class="col" v-for="(category,index) in categories" :key="index" @click="show=category.id" style="cursor:pointer">
          <p
            class="active-span"
            style="border-radius:5px;font-family:myFirstFont;color:#636b6f;font-size:1em;font-weight:normal"
          >{{category.name}}</p>
          <div class="row" v-for="(quote,quoteindex) in quotes" :key="quoteindex" >
            <div class="col-lg-12" v-if='quote.cid==show'>
              <router-link :to="'/single/'+quote.qid">
                <h4
                  style="font-family:myFirstFont;cursor:pointer;border:1px solid black;font-size:16px"
                  v-if="quote.cid==category.id"
                >{{quote.qname}}</h4>
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="container"
      style="background-color:#F0F1F5;margin-top:5%;position:fixed:bottom:0;padding-top:25px;padding-bottom:25px"
      id="zav"
    >
      <h2 style="font-family:myFirstFont">Оставьте заявку</h2>
      <div class="row justify-content-center" style="margin-top:3%">
        <div class="col-lg-3">
          <input
            type="text"
            class="form-control"
            placeholder="Имя"
            style="color:black;font-family:myFirstFont"
            v-model="name"
          />
        </div>
        <div class="col-lg-3 mt-10">
          <input
            type="text"
            class="form-control"
            placeholder="Город"
            style="color:black;font-family:myFirstFont"
            v-model="city"
          />
        </div>
        <div class="col-lg-3 mt-10">
          <input
            type="text"
            class="form-control"
            placeholder="Телефон"
            style="color:black;font-family:myFirstFont"
            v-model="phone"
          />
        </div>
      </div>
      <div class="row justify-content-center" style="margin-top:25px">
        <div class="col-lg-9">
          <textarea class="form-control" rows="5" placeholder="Напишите сообщение" v-model="msg"></textarea>
        </div>
      </div>

      <div class="row justify-content-center" style="margin-top:25px">
        <div class="col-lg-2">
          <button
            @click="send"
            type="submit"
            style="font-weight: 400;
    text-transform: uppercase;border-radius: 2px;font-family:myFirstFont;background:#4e4a59;padding:10px 25px;border:none;color:#fff"
          >Отправить</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
const Swal = require('sweetalert2')
export default {
  data() {
    return {
      cindex: 0,
      quotes: [],
      categories: [],
      name: "",
      city: "",
      phone: "",
      msg: "",
      show:0
    };
  },
  methods: {
    send() {
      Email.send({
        SecureToken: "7ef4cc84-809a-4df6-8c99-8aaa7ac6942d",
        From:"miqrotop@gmail.com",
        To: "miqrotop@gmail.com",
        Subject: "Заявка с сайта",
        Body: "имя " + this.name + ",телефон " + this.phone+" ,город "+this.city+" ,сообщение "+this.msg
      }).then(message => {
        if(message=='OK'){
          Swal.fire({
                position: 'center',
                type: 'success',
                title: 'Заявка отправлена',
                showConfirmButton: false,
                timer: 1500
                })
                this.name=''
                this.phone=''
                this.city=''
                this.msg=''
        }

      });
    },
    getQuotes() {
      this.$http.get("/api/userquotes").then(response => {
        this.quotes = response.data.userquotes;
      });
    }
  },
  created() {
    this.$http
      .get("/api/usercategory")
      .then(response => {
        // this.quotes = response.data.quotes;
        this.categories = response.data.categories;
        this.getQuotes();
      })
      .catch(error => {
        if (error.response.data.error == "Token expired") {
          this.$auth.destroyToken();
          this.$router.push({ path: "/" });
        }
      });
  }
};
</script>
<style scoped>
.d-block .w-100{
  height: 400px !important;
}
.form-control {
  border-radius: 0px;
}
@font-face {
  font-family: myFirstFont;
  src: url("../assets/FontsFree-Net-SFProDisplay-Regular.ttf");
}
.active-span {
  border: none;
  padding: 5px;
  color: #fff !important;
  background: #ef595a;
}
.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}
img {
  width: 100% !important;
  height: 800px;
}
.carousel-inner > .item {
  height: 400px !important;
}
@media only screen and (max-width: 1020px) {
  .mt-10 {
    margin-top: 10px !important;
  }
}
@media only screen and (max-width: 1020px) {
  img {
    height: 200px !important;
  }
  #text {
    font-size: 10px !important;
  }
}
a {
  color: black;
  text-decoration: none;
  background-color: transparent;
}
</style>
