<template>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Материал</th>
          <th scope="col">Действия</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(qt,index) in quotes" :key="index">
          <th scope="row">{{index+1}}</th>
          <td style="color:black;">{{qt.qname}}</td>
          <td>
            <div style="display:flex;flex-direction:row">
              <i class="fas fa-eye" @click="view(qt.qid)"></i>
              <i class="far fa-edit" style="margin-left:15px;cursor:pointer"></i>
              <i
                class="fas fa-trash"
                style="margin-left:15px;cursor:pointer"
                @click="deleteIt(qt.qid)"
              ></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
const Swal = require("sweetalert2");
import EventBus from "./bus";
import axios from "axios";
import View from './viewmaterial'
export default {
  data() {
    return {
      page: 1,
      quotes: [],
      logged_out: true
    };
  },
  created() {
    this.onGetQuotes();
  },
  methods: {
      view(id){
      this.$modal.show(View,{
        id:id
      },{
        width:"50%",
        height:"auto"
      },
      {
  'before-close': (event) => { this.onGetQuotes() }
})
      },
    deleteIt(id) {
      const token = localStorage.getItem("token");

      this.$http
        .delete("/api/quote/" + id, {
          headers: {
            "X-Requested-With": "XMLHttpRequest",
            Authorization: "Bearer " + token
          }
        })
        .then(response => {
          if (response.body.success) {
            Swal.fire({
              position: "center",
              type: "success",
              title: "Материал удален",
              showConfirmButton: false,
              timer: 1500
            });
            this.onGetQuotes();
          }
        })
        .catch(error => {
          if (error.response.data.error == "Token expired") {
            this.$auth.destroyToken();
            EventBus.$emit("logged_in", this.logged_in);
            this.$router.push({ path: "/" });
          }
        });
    },
    onGetQuotes() {
      const token = localStorage.getItem("token");
      axios
        .get("/api/quotes?token=" + token)
        .then(response => {
          this.quotes = response.data.quotes;
          console.log("quotes", this.quotes);
        })
        .catch(error => {
          if (error.response.data.error == "Token expired") {
            this.$auth.destroyToken();
            EventBus.$emit("logged_in", this.logged_in);
            this.$router.push({ path: "/" });
          }
        });
    }
  }
};
</script>
<style scoped>
@font-face {
  font-family: myFirstFont;
  src: url("../assets/FontsFree-Net-SFProDisplay-Regular.ttf");
}
td {
  font-family: myFirstFont;
}
</style>