<template>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
        <input type="text" class="form-control" v-model="product.name" placeholder="Введите вид деятельности">
        
        </div>
        <div class="col-lg-2">
        <button type="submit" @click.prevent="submit" class="btn btn-primary" :disabled="!product.name">Отправить</button>
        </div>
    </div>
</div>
</template>
<script>
const Swal = require('sweetalert2')
export default{
    data(){
        return {
            product:{name:''}
        }
    },methods:{
        submit(){
              const token=localStorage.getItem('token');
                this.$http.post('/api/category',
                    {content: this.product},
                    {
                        headers: 
                        {
                            'X-Requested-With': 'XMLHttpRequest',
                            'Authorization': 'Bearer '+token
                        }
                    })
                    .then(
                        (response) => {
                            if(response.body.success){
                               Swal.fire({
                                position: 'center',
                                type: 'success',
                                title: 'Вид деятедьности добавлено',
                                showConfirmButton: false,
                                timer: 1500
                                })
                                this.product.name='';
                            }
                        }
                    )
                    .catch(
                        (error) =>{
                            if(error.response.data.error=='Token expired'){
                                this.$auth.destroyToken()
                                EventBus.$emit('logged_in', this.logged_in);
                               this.$router.push({path:'/'})
                               
                            }
                        }
                    );

        }
    }
}
</script>
<style>
</style>