<template>
  <div class="container">
    <form @submit.prevent="onSubmitted">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          v-model="product.name"
          placeholder="Введите название материала"
        />
      </div>
      <div class="form-group">
        <ckeditor :editor="editor" v-model="product.quoteContent"></ckeditor>
      </div>
      <div class="form-group">
        <input type="file" class="form-control" multiple @change="imageChanged" />
      </div>
      <div class="form-group">
        Выберите категорию
        <select class="form-control" v-model="product.category">
          <option></option>
          <option v-for="(row,index) in category" :value="row.id" :key="index">{{row.name}}</option>
        </select>
      </div>
      <button class="btn btn-primary" type="submit" :disabled="!product.name||!product.quoteContent||!product.category||product.image.length==0">Отправить</button>
    </form>
  </div>
</template>

<script>
const Swal = require('sweetalert2')

import axios from "axios";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
export default {
  data() {
    return {
      editor: ClassicEditor,
      category: [],
      product: {
        name: "",
        category: null,
        quoteContent: "",
        image: []
      }
    };
  },
  methods: {
    imageChanged(e) {
    
      for (var i = 0; i < e.target.files.length; i++) {
        var fileReader = new FileReader();
        fileReader.readAsDataURL(e.target.files[i]);
        fileReader.onload = e => {
          this.product.image.push(e.target.result);
        };
      }
    },

    onSubmitted() {

      const token = localStorage.getItem("token");

      this.$http
        .post(
          "/api/quote",
          { content: this.product },
          {
            headers: {
              "X-Requested-With": "XMLHttpRequest",
              Authorization: "Bearer " + token
            }
          }
        )
        .then(response => {
         
          if(response.body.success){
              Swal.fire({
                position: 'center',
                type: 'success',
                title: 'Материал добавлен',
                showConfirmButton: false,
                timer: 1500
                })
          this.product.name=''
          this.product.quoteContent=''
          this.product.category=null
          this.product.image=[]     
          }
        })
        .catch(error => {
          if (error.response.data.error == "Token expired") {
            this.$auth.destroyToken();
            EventBus.$emit("logged_in", this.logged_in);
            this.$router.push({ path: "/" });
          }
        });
    },
    setup() {
      const token = localStorage.getItem("token");
      this.$http
        .get("/api/category?token=" + token)
        .then(response => {
          this.category = response.body.category;
        });
    }
  },
  created() {
    this.setup();
  }
};
</script>