<template>
<div class="container" style="margin-top:5%">
<div class="row">
    <div class="col-lg-4 col-md-4">
        <div class="form-group">
            <label for="email">Почта</label>
            <input
                    type="email"
                    id="email"
                    name="email"
                    class="form-control"
                    v-model="email">
        </div>
        <div class="form-group">
            <label for="password">Пароль</label>
            <input
                    type="password"
                    id="password"
                    name="password"
                    class="form-control"
                    v-model="password">
        </div>
        <button type="submit" class="btn btn-primary" @click.prevent="signin">Войти</button>
    </div>
    </div>
    </div>
</template>

<script>
import EventBus from './bus';
    import axios from 'axios';
    export default {
        data() {
            return {
                username: '',
                email: '',
                password: '',
                logged_in:true
            }
        },
        methods: {
            signin() {
                axios.post('api/user/signin',
                    {email: this.email, password: this.password},
                    {headers: {'X-Requested-With': 'XMLHttpRequest'}})
                    .then(
                        (response) => {
                            const token = response.data.token;
                            const base64Url = token.split('.')[1];
                            const base64 = base64Url.replace('-', '+').replace('_', '/');
                           // localStorage.setItem('token', token);
                            this.$auth.setToken(token,Date.now()+JSON.parse(window.atob(base64)).exp);
                            this.$router.push({path:'admin/materials'})
                            EventBus.$emit('logged_in', this.logged_in);
                        }
                    )
                    .catch(
                        (error) => console.log(error)
                    );
            }
        }
    }
</script>