<template>
  <div class="container-fluid" style="margin-top:5%">
    <div class="row">
      <div class="col-lg-3">
        
          <h5 v-for="(material,index) in materials" @click="getMaterial(material.id)" :key='index' :class="material.id==quote.qid?'active-material':''"  style="border-bottom:1px solid black;cursor:pointer">
            {{material.name}}</h5>
        
      </div>
      <div class="col-lg-4 offset-lg-1">
        <h1 style="font-weigt:600;color:black;">{{quote.qname}}</h1>
        <h5 style="font-weigt:500;color:black;line-height:0.3">{{quote.name}}</h5>
        <p style="margin-top:3%;color:#37353d;font-family:myFirstFont" v-html="quote.content"></p>
      </div>
      <div class="col-lg-3">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item" :class="index==0?'active':''" v-for="(image,index) in quote.images" :key="index">
              <img :src="'/'+image.images" class="d-block w-100" alt="..." />
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#carouselExampleControls"
            role="button"
            data-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselExampleControls"
            role="button"
            data-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      quote: {},
      materials:[]
    };
  },
  methods: {
    getMaterial(id){
      this.$http.get("/api/single/" + id).then(response => {
        this.materials=response.body.materials
        this.quote = response.body.quotes[0];
      });
    },
    setup() {
      this.$http.get("/api/single/" + this.$route.params.id).then(response => {
        this.materials=response.body.materials
        this.quote = response.body.quotes[0];
      });
    }
  },
  created() {
    this.setup();
  
  }
};
</script>
<style  scoped>
.active-material{
  color:#ef595a
}
@font-face {
  font-family: myFirstFont;
  src: url("../assets/FontsFree-Net-SFProDisplay-Regular.ttf");
}
</style>
